---
import Container from "./Container.astro";
import { Picture } from "astro:assets";
import heroImage from "../assets/heroImage.jpg";
---

<Container>
  <main
    class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24"
  >
    <div class="py-6 md:order-1 hidden md:block">
      <Picture
        src={heroImage}
        alt="Astronaut in the air"
        widths={[200, 400, 600]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
      />
    </div>
    <div>
      <h1
        class="text-white text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
      >
        Air Jordan 1 Mid Taxi: <span class="text-primary">El mito del amarillo taxi </span> 
      </h1>
      <p class="text-lg mt-4 text-white max-w-xl">
        Un ícono del Street style que trasciende generaciones. <wbr /> <span class="text-primary">Las Air Jordan
            1 Mid Taxi</span> son más que unas zapatillas; son un símbolo de la cultura urbana,
        un legado que se ha transmitido de generación en generación.
      </p>
      </div>
    </div>
  </main>
</Container>
