---
import Container from "./Container.astro";
---

<Container>
    <section class=" relative mx-auto lg:py-20 md:px-6 md:py-16 py-12 text-default max-w-5xl">
    <div class="mb-8 md:mb-12 md:mx-auto text-center max-w-3xl">
            <h2 class=" text-white font-bold font-heading leading-tighter tracking-tighter text-heading md:text-4xl text-3xl">
                historia e origen
            </h2>
        <p class="text-slate-300 text-xl mt-4">Desde su lanzamiento, las Air Jordan 1 Mid han trascendido el mundo del baloncesto. Su diseño atemporal y las diversas colaboraciones las han posicionado como un objeto de deseo para coleccionistas y amantes de la moda</p>
    </div>       
    </section>
</Container>
